# Keep Docker build context small: source + docker files only.
*

!go.mod
!go.sum
!Dockerfile
!.dockerignore

!cmd
!cmd/**
!formatting
!formatting/**
!options
!options/**
!proto
!proto/**
!query
!query/**
!rcon
!rcon/**
!response
!response/**
!status
!status/**
!util
!util/**
!vote
!vote/**
